.markdown{
  color: #0D1A26;
  font-weight: 500;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

p{
  color: #314659;
  font-size: 14px;
}

ul > li{
  list-style-type: circle;
}

.container{
  margin: 30px;
}

.code-box{
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #EBEDF0;
  border-radius: 2px;

  &-demo{
    padding: 42px 24px 50px;
    border-bottom: 1px solid #EBEDF0;
  }

  &-meta{
    position: relative;
    padding: 18px 32px;
  }

  &-title{
    position: absolute;
    top: -14px;
    margin-left: -8px;
    padding: 1px 8px;
    border-radius: 2px 2px 0 0;
    background: #FFFFFF;
    color: #314659;
    font-weight: 500;
    font-size: 14px;
  }
}

.img1{
  width: 400px;
  cursor: pointer;
}

.img-error{
  width: 300px;
  background-color: #EEEEEE;
}

@media screen and (max-width: 480px){
  .img1{
    width: 100%;
  }

  .img-error{
    width: 100%;
  }
}
